<%=  form_with model: [@user, @recipe], class: "m-lg-4 m-sm-2" do |form| %>
  <% if @recipe.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(@recipe.errors.count, "error") %> prohibited this recipe from being saved:</h2>
      <ul>
        <% @recipe.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="mb-3">
    <%= form.label :Name, class: "form-label" %>
    <%= form.text_field :name, class: "form-control" %>
  </div>
  <div class="mb-3">
    <%= form.label :Description, class: "form-label" %>
    <%= form.text_area :description, class: "form-control", rows: "10", style: "height:100%" %>
  </div>
  <div class="mb-3">
    <%=form.submit "Create", disable_with: 'Creatinging...', class: 'btn btn-dark fs-3' %>
  </div>
<% end %>