<div class="container" id="<%= dom_id(@recipe) %>">
    <div class="d-flex align-items center justify-content-between w-75 mx-auto mb-4">
        <h1 class="text-center display-4"><%= @recipe.name %></h1>

        <div class="d-flex align-items-center">
            <%= link_to "Back", :back , class: "btn btn-secondary", type: "button"%>
        </div>
    </div>

    <div class="recipes-details w-75 mx-auto">
        <div class="d-flex align-items-start justify-content-between">
            <div>
                <p>Preparation time: <%= @recipe.preparation_time %> hour</p>
                <p>Cooking time: <%= @recipe.cooking_time %> hour</p>
            </div>

            <div class="form-check form-switch">
                <%= form_with(model: @recipe, url: recipe_path(@recipe), method: :patch, id: "toggle_public") do |form|%>
                    <%= form.check_box :public, class: "form-check-input", id: "flexSwitchCheckDefault", role: "switch", "data-controller":"set-public-recipe" %>
                    <%= form.label :public, for:"flexSwitchCheckDefault", class:"form-check-label"%>
                <% end %>
            </div>
        </div>

        <div class="d-flex align-items-center justify-content-between mt-4">
            <%= link_to "Generate shopping list", recipe_shopping_list_index_path(recipe_id: 1), class: "btn btn-secondary", type: "button"%>
            <button type="button" class="btn btn-primary">Add Ingredient</button>
        </div>

        <div class="ingredient-list mt-4">
            <table class="table">
                <thead>
                    <tr>
                    <th scope="col">Food</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">Value</th>
                    <th scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                    <th scope="row">1</th>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>@mdo</td>
                    </tr>
                    <tr>
                    <th scope="row">2</th>
                    <td>Jacob</td>
                    <td>Thornton</td>
                    <td>@fat</td>
                    </tr>
                    <tr>
                    <th scope="row">3</th>
                    <td colspan="2">Larry the Bird</td>
                    <td>@twitter</td>
                    </tr>
                </tbody>
                </table>
        </div>

    </div>
</div>