<tr id="<%= dom_id(recipe_food) %>">
    <th scope="row"><%= recipe_food.food.name %> </th>
    <td><%= recipe_food.quantity %></td>
    <td><%= recipe_food.food.price %></td>
    <%  if can? [:update, :destroy], recipe %>
        <td class="d-flex align-items-center gap-2"> 
            <%= link_to "Update", edit_recipe_recipe_food_path(recipe, recipe_food), class: "btn btn-link" %>

            <%= button_to "Delete", recipe_recipe_food_path(recipe, recipe_food), method: :delete, class: "btn btn-link" %>
        </td>
    <% end %>
</tr>